
/**
 * Radial cursor
 */
 .MouseCircle {
    position: absolute;
    display: block;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 1px solid #0f1c64;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1;
  }