.MainWrap {
  margin-right: 75px;
  margin-left: 75px;
}

@media only screen and (min-width: 768px) {
  .MainSection {
    margin-left: 21.09375vw;
  }
}

@media only screen and (min-width: 1280px) {
    .MainSection {
      margin-left: 270px;
    }
  }