.ProjectListItem{
    /* background: #EC985A; */
    color: black;
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: system-ui;
    font-weight: 900;
}